.article_card {
  width: 100%;
  border-radius: 12px;
  height: auto;
  border: 1px solid var(--main-bg);
  padding: 16px;
}
.article_card > div:first-child img {
  border-radius: 12px;
  width: 100% !important;
  object-fit: cover !important;
}
.article_card > div:last-child > h3 {
  font-size: 14pt;
  margin-bottom: 4px;
  margin-top: 4px;
}
.article_card > div:last-child > h6 {
  color: var(--light-pen);
  font-size: 10pt;
  margin-top: 2px;
  margin-bottom: 2px;
  font-weight: 200;
  display: flex;
  align-items: center;
}
.article_card > div:last-child > h6 svg {
  font-size: 12pt;
  margin-left: 4px;
}
.article_card > div:last-child > p {
  font-size: 11pt;
  color: var(--gray-pen);
  margin-top: 2px;
}
.article_card > div:last-child > div {
  width: 100%;
  display: flex;
  padding: 4px 0;
  justify-content: end;
}
.article_card > div:last-child > div a {
  padding: 8px 16px;
  color: var(--main-bg);
  border: 1px solid var(--main-bg);
  min-width: 120px;
  text-align: center;
  border-radius: 12px;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
  display: block;
}
.article_card > div:last-child > div a:hover {
  cursor: pointer;
  background-color: var(--main-bg);
  color: white;
}
