.titr_with_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.titr_with_link > h2 {
  color: var(--dark-pen);
  font-size: 16pt;
  width: max-content;
}
.titr_with_link > a {
  color: var(--main-bg);
}
@media(max-width:678px){
  .titr_with_link{
    margin:0;
  }
  .titr_with_link > a {
    display: none;
  }
}