.d_header {
  width: 100%;
  background-color: var(--main-bg);
  display: flex;
  height: 72px;
  padding: 0 2rem;
  margin-bottom: 1rem;
  align-items: center;
}

/* Logo */

.d_header .logo {
  display: flex;
  align-items: center;
}
.d_header .logo img {
  width: 44px !important;
  display: block !important;
  /*  height: 60px !important; */
}

/* Menu */

.d_header .d_menu {
  flex: 80%;
  width: 80%;
}
.d_header .d_menu > ul {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style: none;
}
.d_header .d_menu > ul > li {
  padding: 8px;
  margin: 0 4px;
}
.d_header .d_menu > ul > li > a {
  color: var(--light-bg);
  font-size: 12pt;
}
.d_header .d_menu > ul > li:hover {
  color: white;
  cursor: pointer;
}

/* UserAvatar */

.d_header .user_avatar {
  flex: 20%;
  width: 20%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.d_header .user_avatar img {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
}
