@font-face {
  font-family: "IRANSansWeb";
  src: url("../public/fonts/iranSans/eot/IRANSansWeb.eot");
  src: url("../public/fonts/iranSans/eot/IRANSansWeb.eot")
      format("embedded-opentype"),
    url("../public/fonts/iranSans/woff/IRANSansWeb.woff") format("woff"),
    url("/Assets/Fonts/iranSans/ttf/IRANSansWeb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --dark-pen: #1b1b1b;
  --main-bg: #0e42a1;
  --light-bg: #f6f8f9;
  --gray-pen: #6e6e6e;
  --light-pen: #9b9b9b;
  --shadow: 0px 3px 16px 1px #91929642;
}
html {
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "IRANSansWeb";
  direction: rtl;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.sos-container {
  padding: 0.5rem 2.5rem;
}
@media(max-width:678px){
  .sos-container {
    padding: 0.5rem 1rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
