.m_header {
  padding: 1rem;
  background-color: var(--main-bg);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* UserAvatar */

.m_header .user_avatar {
  display: flex;
  justify-content: end;
  align-items: center;
}
.m_header .user_avatar img {
  width: 42px !important;
  height: 42px !important;
  border-radius: 50% !important;
}

/* Logo */
.m_header .logo {
  display: flex;
  align-items: center;
}
.m_header .logo img {
  width: 36px !important;
}

/* Menu Icon*/

.m_header .menu_icon {
  display: flex;
  align-items: center;
}
.m_header .menu_icon svg {
  color: var(--light-bg);
  font-size: 22pt;
}
.m_header .menu_icon:hover svg {
  color: white;
  cursor: pointer !important;
}

/* Navbar */

.m_header .m_menu {
  background-color: rgba(51, 51, 51, 0.904);
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  z-index: 99;
  transition: all 1s ease-in-out;
  opacity: 1;
}
.m_header .m_menu > svg {
  color: var(--light-bg);
  font-size: 24pt;
  position: absolute;
  top: 12px;
  right: 12px;
}
.m_header .m_menu > ul {
  width: 100%;
  margin: 5rem 0px;
  padding: 0px;
  list-style: none;
}
.m_header .m_menu > ul > li {
  text-align: center;
  margin: 1rem auto;
}
.m_header .m_menu > ul > li > a {
  color: var(--light-bg);
  font-size: 14pt;
}
.m_header .m_menu > ul > li > a:hover {
  color: white;
}
.m_header .m_menu > svg:hover {
  cursor: pointer;
  color: white;
}
.m_header .m_menu.m_menu_close {
  right: -100%;
  opacity: 0;
}
